.row {
    text-align: center;
     margin: 0 auto;
    width: 200px;

}

#regbut {

    margin-top: 10px;
}

.error-text {
    color: red;
}

.dashboard{
    text-align: center;
    margin: 0 auto;
    width: 700px;
     padding: 20px;
}

#logout {
    margin-left: 20px;
}

#add {
    margin-left: 20px;
}

.column_but {

    text-align: right;
}

.usersreg {
    padding-top: 12px;
    text-align: center;
    width: 40%;
}

#regusers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#regusers td, #regusers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
#regusers tr:nth-child(even){background-color: #f2f2f2;}

#regusers tr:hover {background-color: #ddd;}

#regusers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#regusers {
    margin-left: 380px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}